In [1]:
from backend.features.stonk import Stonk

In [2]:
connection = Stonk(stonk = "saab")

In [3]:
connection.df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-06-05 00:00:00+02:00,147.738116,148.481017,145.558945,145.558945,954700,0.0,0.0
2023-06-07 00:00:00+02:00,145.608480,145.806583,139.021435,141.151077,2005812,0.0,0.0
2023-06-08 00:00:00+02:00,141.052019,144.221739,140.011970,143.974106,1060436,0.0,0.0
2023-06-09 00:00:00+02:00,143.875051,145.410381,143.033091,144.717010,850480,0.0,0.0
2023-06-12 00:00:00+02:00,145.658005,146.103742,144.617942,145.707535,597440,0.0,0.0
...,...,...,...,...,...,...,...
2025-05-28 00:00:00+02:00,480.299988,494.000000,480.200012,489.000000,2016178,0.0,0.0
2025-05-30 00:00:00+02:00,494.000000,494.950012,482.600006,484.549988,3419364,0.0,0.0
2025-06-02 00:00:00+02:00,486.899994,499.350006,480.049988,486.750000,3624685,0.0,0.0
2025-06-03 00:00:00+02:00,488.200012,501.000000,479.549988,497.649994,2863297,0.0,0.0
2025-06-04 00:00:00+02:00,501.000000,502.399994,483.549988,489.350006,1988554,0.0,0.0